<div class="container-fluid">
    <img src="../assets/images/img_Robosoft logo.png" alt="Robosoft" class="img-fluid logo-img">
</div>
<div class="container">
    <div class="welcome text-center">
        <h6 class="display-6 pt-5 mt-5">Welcome to Robosoft!</h6>
        <h5 class="display-5">Enter your Details here</h5>
    </div>



    <form action="" class="form-container">
        
        
            <div class="form-column">
                <div class="boxes">
                    <div>
                        <label for="name">Full Name</label>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

                <div class="boxes">
                    <div>
                        <span><label>Mobile Number</label></span>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

                <div class="boxes">
                    <div>
                        <span><label>Full Name</label></span>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

                       
            </div>
            <div class="form-column">
                <div class="boxes">
                    <div>
                        <span><label>Full Name</label></span>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

                <div class="boxes">
                    <div>
                        <span><label>Full Name</label></span>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

                <div class="boxes">
                    <div>
                        <span><label>Full Name</label></span>
                    </div>
                    <div>
                        <input class="input-base" type="text" name="name" id="name" placeholder="Your Good name">
                    </div>
                </div>

            </div>
       

    </form>

</div>
