<!-- main div starts -->
<div id="mySidebar" class="robo-sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
    <!-- header starts -->
    <div class="robo-header">
        <div class="robologo">
            <img src="./assets/images/img_Robosoft logo.png" alt="robo_logo_banner" class="roboimg">
        </div>
        <div class="robotitle">
            INTERN MANAGEMENT
        </div>
    </div>
    <!-- header ends -->




    <!-- middle div starts -->
    <div class="robo-mid">
        <div class="robo-menu-item" style={{dashboardstyle}} >

            <div class="robo-menu-link">
                <a routerLink="/dashboard" ><img src="/assets/icons/icn_dashboard.png" width="25px" height="25px" alt="icn_Dashboard" class="robo-menubar-icons"><span
                        class="robo-icon-text">Dashboard</span></a>
            </div>
        </div>

        <div class="robo-menu-item" style={{cvanalysisstyle}}>

            <div class="robo-menu-link">
                <a routerLink="/cvanalysis" class="acv"><img src="./assets/icons/icn_recruitment.png" width="25px" height="25px" class="robo-menubar-icons"><span
                        class="robo-icon-text">CV Analysis</span></a>
            </div>
        </div>

        <div class="robo-menu-item" style={{assignboardstyle}}>

            <div class="robo-menu-link">
                <a  routerLink="/assignboard" class="aassign"><img src="./assets/icons/icn_assign.png" width="25px" height="25px" class="robo-menubar-icons"><span
                        class="robo-icon-text">Assign Board</span></a>
            </div>
        </div>

        <div class="robo-menu-item" style={{rejectedstyle}}>

            <div class="robo-menu-link">
                <a routerLink="/rejectedcv" class="areject"><img src="./assets/icons/icn_dashboard.png" width="25px" height="25px" class="robo-menubar-icons"><span
                        class="robo-icon-text">Rejected CV</span></a>
            </div>
        </div>

        <div class="robo-menu-item" style={{invitestyle}}>

            <div class="robo-menu-link">
                <a routerLink="/invite" class="ainvite"><img src="./assets/icons/icn_invite.png" width="25px" height="25px" class="robo-menubar-icons"><span
                        class="robo-icon-text">Invite</span></a>
            </div>
        </div>

        <div class="robo-menu-item" style={{notificationstyle}}>

            <div class="robo-menu-link">
                <a routerLink="/notification" class="anotification"><img src="./assets/icons/icn_dashboard.png" width="25px" height="25px"
                        class="robo-menubar-icons"><span class="robo-icon-text">Notification</span></a>
            </div>
        </div>



        <div class="robo-menu-item" style={{settingstyle}}>

            <div class="robo-menu-link">
                <a routerLink="/settings" class="asetings"><img src="./assets/icons/icn_dashboard.png" width="25px" height="25px"
                        class="robo-menubar-icons settings"><span class="robo-icon-text">Settings</span></a>
            </div>
        </div>
    </div>
    <!-- middle div ends -->

    <!-- footer starts -->
    <div class="robo-footer">
        <div class="robo-menu-item">

            <div class="robo-menu-link">
                <a href="#" class="asetings"><img src="./assets/icons/icn_dashboard.png" width="25px" height="25px" class="robo-menubar-icons"><span
                        class="robo-icon-text">Logout</span></a>
            </div>
        </div>
    </div>
    <!-- footer ends -->
</div>
<!-- main div ends -->

